.genealogySearchTab span {
	display: inline-block;
	height: 45px;
	line-height: 45px;
	margin-right: 30px;
	cursor: pointer;
}

.genealogySearchTab span.cur {
	color: #333;
	border-bottom: 2px solid #333;
}

.search-input-box .simple-ipt {
	margin-top: 20px;
	padding: 0 10%;
	height: 35px;
	position: relative;
}

.search-input-box .simple-ipt .selectbt {
	padding: 0 10%;
}

.search-input-box .adv-ipt {
	margin-top: 20px;
	padding: 0 3%;
	position: relative;
}

.search-input-box .adv-ipt .cdtn-row {
	padding-bottom: 15px;
}

.search-input-box .spec-ipt {
	margin-top: 20px;
	padding: 0 5%;
	position: relative;
}

.bs-callout {
	padding: 20px;
	margin: 20px 0;
	border-left: 1px solid #eee;
	border-left-width: 5px;
	border-radius: 3px;
}

.bs-callout-info {
	border-left-color: #ce4844;;
}

.col-lg-2 {
	width: 30%;
	float: left;
}

.col-lg-8 {
	width: 70%;
	float: right;
}
/* 标题 */
.btn.btn-danger.dropdown-toggle {
	width: 100px;
}

.input-group-btn ul.dropdown-menu.ul-fields {
	min-width: 100px;
}
/* 模糊-精确 */
.btn.btn-default.dropdown-toggle {
	width: 60px;
}

.input-group-btn .dropdown-menu.ul-types {
	min-width: 70px;
}
/* 与-或 */
.input-group select.form-control {
	width: 70px;
	padding: inherit;
}

@media ( min-width : 300px) {
	/* 与-或 */
	.input-group select.form-control {
    	width: 50px;
		padding: 0px 5px;
	}
	.btn.btn-danger.dropdown-toggle {
	    width: 100px;
	}
	.btn.btn-default.dropdown-toggle {
	    width: 52px;
	}
}

@media ( min-width : 500px) {
	.search-input-box .tit.genealogySearchTab {
		text-align: right;
	}
	.col-lg-2 {
		width: 30%;
		float: left;
	}
	.col-lg-8 {
		width: 70%;
		float: right;
	}
	/* 标题 */
	.btn.btn-danger.dropdown-toggle {
		width: 100px;
	}
	.input-group-btn ul.dropdown-menu.ul-fields {
		min-width: 100px;
	}
	/* 模糊-精确 */
	.btn.btn-default.dropdown-toggle {
		width: 80px;
	}
	.input-group-btn .dropdown-menu.ul-types {
		min-width: 80px;
	}
	/* 与-或 */
	.input-group select.form-control {
		width: 100%;
		padding: 6px 12px;
	}
}

@media ( min-width : 700px) {
	.search-input-box .tit.genealogySearchTab {
		text-align: right;
	}
	.col-lg-2 {
		width: 30%;
		float: left;
	}
	.col-lg-8 {
		width: 70%;
		float: right;
	}
	/* 标题 */
	.btn.btn-danger.dropdown-toggle {
		width: 150px;
	}
	.input-group-btn ul.dropdown-menu.ul-fields {
		min-width: 160px;
	}
	/* 模糊-精确 */
	.btn.btn-default.dropdown-toggle {
		width: 100px;
	}
	.input-group-btn .dropdown-menu.ul-types {
		min-width: 100px;
	}
	/* 与-或 */
	.input-group select.form-control {
		width: 100%;
		padding: 6px 12px;
	}
}

@media ( min-width : 1080px) {
	.search-input-box .tit.genealogySearchTab {
		text-align: right;
	}
	.col-lg-2 {
		width: 30%;
		float: left;
	}
	.col-lg-8 {
		width: 70%;
		float: right;
	}
	/* 标题 */
	.btn.btn-danger.dropdown-toggle {
		width: 150px;
	}
	.input-group-btn ul.dropdown-menu.ul-fields {
		min-width: 160px;
	}
	/* 模糊-精确 */
	.btn.btn-default.dropdown-toggle {
		width: 100px;
	}
	.input-group-btn .dropdown-menu.ul-types {
		min-width: 100px;
	}
	/* 与-或 */
	.input-group select.form-control {
		width: 100%;
		padding: 6px 12px;
	}
}

@media ( min-width : 1200px) {
	.search-input-box .tit.genealogySearchTab {
		text-align: right;
	}
	.col-lg-2 {
		width: auto;
		float: none;
	}
	.col-lg-8 {
		width: auto;
		float: none;
	}
	/* 标题 */
	.btn.btn-danger.dropdown-toggle {
		width: 150px;
	}
	.input-group-btn ul.dropdown-menu.ul-fields {
		min-width: 160px;
	}
	/* 模糊-精确 */
	.btn.btn-default.dropdown-toggle {
		width: 100px;
	}
	.input-group-btn .dropdown-menu.ul-types {
		min-width: 100px;
	}
	/* 与-或 */
	.input-group select.form-control {
		width: 100%;
		padding: 6px 12px;
	}
}